<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis Web App</title>
    <link rel="stylesheet" href="\nlp\static\style.css">
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <form id="sentimentForm">
            <label for="text">Enter your text for sentiment analysis:</label>
            <textarea id="text" rows="4" required></textarea>
            <button type="submit">Analyze Sentiment</button>
        </form>
        <div id="result"></div>
    </div>

    <script src="\nlp\static\script.js"></script>
</body>
</html>